extends layout
block style
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel="stylesheets", href="./stylesheets/animate.min.css")

block content
	h1= title
	p Welcome to #{title}
	div#container
		label(for="longurl") 请输入要转换的长地址
		br
		input#longurl.urlinput
		button#btn1 转换
		p#result.result
	script(src="./javascripts/index.js")
	script(src="./javascripts/fetch.js")